<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Formula 1 2023 Race Calendar!</title>
</head>
<body>
    <h1>Welcome to the Formula 1 2023 Race Calendar!</h1>
    <p>
        You can view all the current events in our <em>Race Schedule</em>
        list which can be found on our website
        <a href=https://www.formula1.com/en/racing/2023.html> here</a>
    </p>

    <h2>Events</h2>
    <ul>
        {% for event in events %}
            <li>
                <a href="/events/{{event.id}}">
                    {{event.grand_prix_name}}
                </a>
            </li>
        {% endfor %}
    </ul>
</body>
</html>